html, body {
    margin: 0;
    padding: 0;
}

header {
    background: #ffffff;
}

footer {
    background: #2e2e2e;
}

td.footerPadRight {
    padding-right: 30px;
    text-align: left;
}



footer th {
    text-align: left;
    padding-bottom: 20px;
}

.footerTableHeaderText {
    color: #3bd9ba;
}

.footerTableItemText {
    color: #ffffff;
    text-decoration: none;

}

::selection {
    background: #3bd9ba;
    text-shadow: none;
    color: #1e384b;
}

.btnBack {
    background-color: #f05122;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    border-style: solid;
    border-width: 1px;
    border-color: #f05122;

    transition: all .3s ease-in-out 0s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.btnBack:hover {
    background-color: #ffffff;
    color: #f05122;
}

.btnSubmit {
    background-color: #3bd9ba;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    border-style: solid;
    border-width: 1px;
    border-color: #3bd9ba;

    transition: all .3s ease-in-out 0s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.btnSubmit:hover {
    background-color: #ffffff;
    color: #3bd9ba
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.hidden {
    display: none;
}

.uppercase {
    text-transform: uppercase;
    font-size: smaller;
}